.container {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 230px;
  height: 60px;
  border-radius: 10px;
  padding: 5px;
  color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  opacity: 0;
  transform: translateX(100px);
  animation: fade-in 0.5s ease-out forwards;
}

.error {
  background-color: rgb(243 48 48 / 99%);
}

.successful {
  background-color: rgb(34 185 54 / 99%);
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
